 <h1>OLYMPIC GAMES<h1>

![img](Images/jo.jpeg)

### In this dataset we take a look on the legacy of the olympique games from Athens 1896 to Rio 2016

## Presentation

In this dataset we will jump into the participation ceveral athletes and their nations in every 
tournament from all the olympic events 

 * which year and city did the Netherlands win the highest number of medals in their history.
 * visualizing the relationship between the number of athletes countries send to an event and the number of     medals they receive.
 * which sports does the height of an athlete increase their chances of earning a medal.

## Loading Data

Getting data on the olympic games athletes from the csv file

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Data/athlete_events.csv")
print(data)

            id                      name sex   age  height  weight  \
0            1                 A Dijiang   M  24.0   180.0    80.0
1            2                  A Lamusi   M  23.0   170.0    60.0
2            3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN
3            4      Edgar Lindenau Aabye   M  34.0     NaN     NaN
4            5  Christine Jacoba Aaftink   F  21.0   185.0    82.0
...        ...                       ...  ..   ...     ...     ...
271111  135569                Andrzej ya   M  29.0   179.0    89.0
271112  135570                  Piotr ya   M  27.0   176.0    59.0
271113  135570                  Piotr ya   M  27.0   176.0    59.0
271114  135571        Tomasz Ireneusz ya   M  30.0   185.0    96.0
271115  135571        Tomasz Ireneusz ya   M  34.0   185.0    96.0

                  team  noc        games  year  season            city  \
0                China  CHN  1992 Summer  1992  Summer       Barcelona
1                China  CHN  2012 Summer  2012  Summer          London
2              Denmark  DEN  1920 Summer  1920  Summer       Antwerpen
3       Denmark/Sweden  DEN  1900 Summer  1900  Summer           Paris
4          Netherlands  NED  1988 Winter  1988  Winter         Calgary
...                ...  ...          ...   ...     ...             ...
271111        Poland-1  POL  1976 Winter  1976  Winter       Innsbruck
271112          Poland  POL  2014 Winter  2014  Winter           Sochi
271113          Poland  POL  2014 Winter  2014  Winter           Sochi
271114          Poland  POL  1998 Winter  1998  Winter          Nagano
271115          Poland  POL  2002 Winter  2002  Winter  Salt Lake City

                sport                                     event medal
0          Basketball               Basketball Men's Basketball   NaN
1                Judo              Judo Men's Extra-Lightweight   NaN
2            Football                   Football Men's Football   NaN
3          Tug-Of-War               Tug-Of-War Men's Tug-Of-War  Gold
4       Speed Skating          Speed Skating Women's 500 metres   NaN
...               ...                                       ...   ...
271111           Luge                Luge Mixed (Men)'s Doubles   NaN
271112    Ski Jumping  Ski Jumping Men's Large Hill, Individual   NaN
271113    Ski Jumping        Ski Jumping Men's Large Hill, Team   NaN
271114      Bobsleigh                      Bobsleigh Men's Four   NaN
271115      Bobsleigh                      Bobsleigh Men's Four   NaN

[271116 rows x 15 columns]

* We'll take the Netherlands as an example

In [4]:
netherland_data = data[data['team'] == 'Netherlands']
print(netherland_data)

            id                      name sex   age  height  weight  \
4            5  Christine Jacoba Aaftink   F  21.0   185.0    82.0
5            5  Christine Jacoba Aaftink   F  21.0   185.0    82.0
6            5  Christine Jacoba Aaftink   F  25.0   185.0    82.0
7            5  Christine Jacoba Aaftink   F  25.0   185.0    82.0
8            5  Christine Jacoba Aaftink   F  27.0   185.0    82.0
...        ...                       ...  ..   ...     ...     ...
271047  135545           Henk Jan Zwolle   M  23.0   197.0    93.0
271048  135545           Henk Jan Zwolle   M  27.0   197.0    93.0
271049  135545           Henk Jan Zwolle   M  31.0   197.0    93.0
271050  135546    Sandra Kornelia Zwolle   F  26.0   174.0    65.0
271051  135546    Sandra Kornelia Zwolle   F  26.0   174.0    65.0

               team  noc        games  year  season         city  \
4       Netherlands  NED  1988 Winter  1988  Winter      Calgary
5       Netherlands  NED  1988 Winter  1988  Winter      Calgary
6       Netherlands  NED  1992 Winter  1992  Winter  Albertville
7       Netherlands  NED  1992 Winter  1992  Winter  Albertville
8       Netherlands  NED  1994 Winter  1994  Winter  Lillehammer
...             ...  ...          ...   ...     ...          ...
271047  Netherlands  NED  1988 Summer  1988  Summer        Seoul
271048  Netherlands  NED  1992 Summer  1992  Summer    Barcelona
271049  Netherlands  NED  1996 Summer  1996  Summer      Atlanta
271050  Netherlands  NED  1998 Winter  1998  Winter       Nagano
271051  Netherlands  NED  1998 Winter  1998  Winter       Nagano

                sport                               event   medal
4       Speed Skating    Speed Skating Women's 500 metres     NaN
5       Speed Skating  Speed Skating Women's 1,000 metres     NaN
6       Speed Skating    Speed Skating Women's 500 metres     NaN
7       Speed Skating  Speed Skating Women's 1,000 metres     NaN
8       Speed Skating    Speed Skating Women's 500 metres     NaN
...               ...                                 ...     ...
271047         Rowing          Rowing Men's Single Sculls     NaN
271048         Rowing          Rowing Men's Double Sculls  Bronze
271049         Rowing           Rowing Men's Coxed Eights    Gold
271050  Speed Skating    Speed Skating Women's 500 metres     NaN
271051  Speed Skating  Speed Skating Women's 1,000 metres     NaN

[5718 rows x 15 columns]

In [5]:
medals_won_each_year_and_city = netherland_data.groupby(['year','city'])['medal'].count()
print(medals_won_each_year_and_city)

year  city
1900  Paris                      6
1906  Athina                     6
1908  London                    12
1912  Stockholm                 26
1920  Antwerpen                 42
1924  Paris                     24
1928  Amsterdam                 51
      Sankt Moritz               0
1932  Los Angeles               13
1936  Berlin                    34
      Garmisch-Partenkirchen     0
1948  London                    40
      Sankt Moritz               0
1952  Helsinki                  18
      Oslo                       3
1956  Cortina d'Ampezzo          0
      Stockholm                  0
1960  Roma                       3
      Squaw Valley               2
1964  Innsbruck                  2
      Tokyo                     31
1968  Grenoble                   9
      Mexico City               14
1972  Munich                     6
      Sapporo                    9
1976  Innsbruck                  6
      Montreal                  14
1980  Lake Placid                4
      Moskva                     6
1984  Los Angeles               41
      Sarajevo                   0
1988  Calgary                    7
      Seoul                     45
1992  Albertville                4
      Barcelona                 33
1994  Lillehammer                4
1996  Atlanta                   73
1998  Nagano                    11
2000  Sydney                    79
2002  Salt Lake City             8
2004  Athina                    77
2006  Torino                    13
2008  Beijing                   58
2010  Vancouver                 11
2012  London                    69
2014  Sochi                     29
2016  Rio de Janeiro            45
Name: medal, dtype: int64